.card-content {
  margin-top: 10px;
  margin-left: 50px;
  padding: 5px;
}
.content-width {
  width: 100%;
}
.tab-content.card{
  border: 0;
}
.hover-block:hover {
  background: #2980b9;
  color: #ffffff;
}
.hover-block.active {
  background: #2980b9;
  color: #ffffff;
}
