<div class="container container-layout">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <div class="card card-layout">
        <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm" class="card-block card-content form-layout">
          <h2 align="center">Sign up</h2>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>

          <!-- Username -->
          <div class="form-group">
            <label>Username</label>
            <input type="text"
                   id="username"
                   class="form-control"
                   name="username"
                   placeholder="Pick up a username"
                   formControlName="username"
                   [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.username.errors" class="invalid-input">
              <div *ngIf="f.username.errors.required">Field is required</div>
              <div *ngIf="f.username.errors.minlength">Name must be at least 4 characters long</div>
              <div *ngIf="f.username.errors.maxlength">Name must be less than 64 characters long</div>
            </div>
          </div>

          <!-- First name -->
          <div class="form-group">
            <label>First name</label>
            <input type="text"
                   id="firstName"
                   class="form-control"
                   name="firstName"
                   placeholder="Enter your first name"
                   formControlName="firstName"
                   [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.firstName.errors" class="invalid-input">
              <div *ngIf="f.firstName.errors.required">Field is required</div>
              <div *ngIf="f.firstName.errors.minlength">First name must be at least 4 characters long</div>
              <div *ngIf="f.firstName.errors.maxlength">First name must be less than 40 characters long</div>
            </div>
          </div>

          <!-- Last name -->
          <div class="form-group">
            <label>Last name</label>
            <input type="text"
                   [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
                   class="form-control"
                   formControlName="lastName"
                   id="lastName"
                   name="lastName"
                   placeholder="Enter your last name"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.lastName.errors" class="invalid-input">
              <div *ngIf="f.lastName.errors.required">Field is required</div>
              <div *ngIf="f.lastName.errors.minlength">Last name must be at least 4 characters long</div>
              <div *ngIf="f.lastName.errors.maxlength">Last name must be less than 40 characters long</div>
            </div>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label>Email</label>
            <input type="email"
                   id="email"
                   name="email"
                   class="form-control"
                   placeholder="you@example.com"
                   formControlName="email"
                   [ngClass]="{ 'is-invalid': submitted && f.email.invalid }"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.email.errors" class="invalid-input">
              <div *ngIf="f.email.errors.required">Field is required</div>
              <div *ngIf="f.email.errors.email">Email is not valid</div>
              <div *ngIf="f.lastName.errors.maxlength">Email name must be less than 128 characters long</div>
            </div>
          </div>


          <!--<input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">-->

          <!-- Password -->
          <div class="form-group">
            <label>Password</label>
            <input type="password"
                   id="password"
                   class="form-control"
                   name="password"
                   placeholder="Create a password"
                   formControlName="password"
                   [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.password.errors" class="invalid-input">
              <div *ngIf="f.password.errors.required">Field is required</div>
              <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters long</div>
              <div *ngIf="f.password.errors.maxlength">Password must be less than 128 characters long</div>
            </div>
          </div>

          <!-- PasswordConfirm -->
          <div class="form-group">
            <label>Password confirmation</label>
            <input type="password"
                   id="passwordConfirm"
                   class="form-control"
                   name="passwordConfirm"
                   formControlName="passwordConfirm"
                   placeholder="Repeat password"
                   [ngClass]="{ 'is-invalid': submitted && f.passwordConfirm.errors }"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.passwordConfirm.errors" class="invalid-input">
              <div *ngIf="f.passwordConfirm.errors.required">Field is required</div>
              <div *ngIf="f.passwordConfirm.errors.mustMatch">Passwords must match</div>
            </div>
          </div>

          <div>
            <button class="btn btn-success btn-wide">
              Sign up
              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>

          </div>
        </form>
      </div>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
