.userpic{
  width: 196px;
  height: 196px;
  border:2px solid #ff8a00;
  border-radius: 2px;
}
.btn1{
  margin-top: 10px;
}
.btn2{
  margin-top: 20px;
}
.actblock{
  margin-top: 20px;
}
td{
  font-size: 20px;
  padding-left: 5px;
}
th{
  font-size: 24px;
  padding-left: 5px;
}
tr {
  border: 1px solid #95a5a6;
}
table thead, th{
  background: #ecf0f1;
}
table{
  width: 100%;
  margin: 0;
  padding: 0;
  border-collapse: collapse;
  border-style: hidden;
}

