//@import url(../node_modules/bootstrap/dist/css/bootstrap.min.css);
//@import url(../node_modules/font-awesome/css/font-awesome.css);

.container-layout {
  margin-top: 30px;
}

.card-layout {
  margin-bottom: 20px;
}

/* Validation of input */

.invalid-input {
  color: red;
}

/* Auth layouts */

.btn-wide {
  width: 100%;
  display: block;
  margin: auto;
}

.form-layout {
  padding: 20px;
}

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
