<div class="container container-layout">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">

      <div class="card">
        <form (ngSubmit)="updateUser()" [formGroup]="editUserForm" class="card-block card-content form-layout">
          <!-- Name -->
          <h1 align="center">Edit User</h1>
          <div class="form-group">
            <label>Username</label>
            <input type="text"
                   id="username"
                   class="form-control"
                   name="username"
                   placeholder="Enter new username"
                   autocomplete="name"
                   formControlName="username"
                   [ngClass]="{ 'is-invalid': submittedEditing && userDataForm.username.errors }"/>

            <!-- validation of input -->
            <div *ngIf="submittedEditing && userDataForm.username.errors" class="invalid-input">
              <div *ngIf="userDataForm.username.errors.required">Field is required</div>
              <div *ngIf="userDataForm.username.errors.minlength">Name must be at least 3 characters long</div>
              <div *ngIf="userDataForm.username.errors.maxlength">Name must be less than 15 characters long</div>
            </div>
          </div>

          <!-- First name -->
          <div class="form-group">
            <label>First name</label>
            <input type="text"
                   id="firstName"
                   class="form-control"
                   name="firstName"
                   placeholder="Enter your new first name"
                   formControlName="firstName"
                   [ngClass]="{ 'is-invalid': submittedEditing && userDataForm.firstName.errors }"
            />

            <!-- validation of input -->
            <div *ngIf="submittedEditing && userDataForm.firstName.errors" class="invalid-input">
              <div *ngIf="userDataForm.firstName.errors.required">Field is required</div>
              <div *ngIf="userDataForm.firstName.errors.minlength">First name must be at least 4 characters long</div>
              <div *ngIf="userDataForm.firstName.errors.maxlength">First name must be less than 40 characters long</div>
            </div>
          </div>

          <!-- Second name -->
          <div class="form-group">
            <label>Second name</label>
            <input type="text"
                   id="secondName"
                   class="form-control"
                   name="secondName"
                   placeholder="Enter your new second name"
                   formControlName="secondName"
                   [ngClass]="{ 'is-invalid': submittedEditing && userDataForm.secondName.errors }"
            />

            <!-- validation of input -->
            <div *ngIf="submittedEditing && userDataForm.secondName.errors" class="invalid-input">
              <div *ngIf="userDataForm.secondName.errors.required">Field is required</div>
              <div *ngIf="userDataForm.secondName.errors.minlength">Second name must be at least 4 characters long</div>
              <div *ngIf="userDataForm.secondName.errors.maxlength">Second name must be less than 40 characters long
              </div>
            </div>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label>Email</label>
            <input type="email"
                   id="email"
                   class="form-control"
                   name="email"
                   placeholder="Enter your new email"
                   formControlName="email"
                   [ngClass]="{ 'is-invalid': submittedEditing && userDataForm.email.errors }"/>

            <!--validation of input-->
            <div *ngIf="submittedEditing && userDataForm.email.errors" class="invalid-input">
              <div *ngIf="userDataForm.email.errors.required">Field is required</div>
              <div *ngIf="userDataForm.email.errors.email">Email is not valid</div>
              <div *ngIf="userDataForm.secondName.errors.maxlength">Email name must be less than 40 characters long
              </div>
            </div>
          </div>

          <button class="btn btn-success">Update</button>
        </form>
      </div>

      <h3>Change password:</h3>
      <div class="card card-layout">
        <form (ngSubmit)="changePassword()" [formGroup]="changePasswordForm"
              class="card-block card-content form-layout">

          <!-- Old password -->
          <div class="form-group">
            <label>Old password</label>
            <input type="password"
                   id="oldPassword"
                   class="form-control"
                   name="oldPassword"
                   formControlName="oldPassword"
                   placeholder="Enter your password"
                   [ngClass]="{ 'is-invalid': submittedPasswordChanging && passwordForm.oldPassword.errors }"/>

            <!--validation of input-->
            <div *ngIf="submittedPasswordChanging && passwordForm.oldPassword.errors" class="invalid-input">
              <div *ngIf="passwordForm.oldPassword.errors.required">Field is required</div>
            </div>
          </div>

          <!-- New password -->
          <div class="form-group">
            <label>New Password</label>
            <input type="password"
                   id="newPassword"
                   class="form-control"
                   name="newPassword"
                   formControlName="newPassword"
                   placeholder="Create a new password"
                   [ngClass]="{ 'is-invalid': submittedPasswordChanging && passwordForm.newPassword.errors }"/>

            <!--validation of input-->
            <div *ngIf="submittedPasswordChanging && passwordForm.newPassword.errors" class="invalid-input">
              <div *ngIf="passwordForm.newPassword.errors.required">Field is required</div>
              <div *ngIf="passwordForm.password.errors.minlength">Password must be at least 6 characters long</div>
              <div *ngIf="passwordForm.password.errors.maxlength">Password must be less than 20 characters long</div>
            </div>
          </div>

          <!-- New password confirm -->
          <div class="form-group">
            <label>New password confirmation</label>
            <input type="password"
                   id="newPasswordConfirm"
                   class="form-control"
                   name="newPasswordConfirm"
                   formControlName="newPasswordConfirm"
                   placeholder="Repeat password"
                   [ngClass]="{ 'is-invalid': submittedPasswordChanging && passwordForm.newPasswordConfirm.errors }"/>

            <!--validation of input-->
            <div *ngIf="submittedPasswordChanging && passwordForm.newPasswordConfirm.invalid" class="invalid-input">
              <div *ngIf="passwordForm.newPasswordConfirm.errors.required">Field is required</div>
              <div *ngIf="passwordForm.newPasswordConfirm.errors.mustMatch">Passwords must match</div>
            </div>
          </div>

          <button type="submit" class="btn btn-success">Change password</button>
        </form>
      </div>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
