<div class="container container-layout">
  <div class="row">
    <div class="offset-3"></div>
    <div class="col-md-6">
      <div class="card card-layout">
        <form (ngSubmit)="onSubmit()" [formGroup]="registrationForm" class="card-block card-content form-layout">
          <h2 align="center">Rregister new user</h2>
          <div *ngIf="error" class="alert alert-danger">{{error}}</div>

          <!-- Username -->
          <div class="form-group">
            <label>Username</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }"
                   class="form-control"
                   formControlName="username"
                   id="username"
                   name="username"
                   placeholder="Pick up a username"
                   type="text"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.username.errors" class="invalid-input">
              <div *ngIf="f.username.errors.required">Field is required</div>
              <div *ngIf="f.username.errors.minlength">Name must be at least 3 characters long</div>
              <div *ngIf="f.username.errors.maxlength">Name must be less than 15 characters long</div>
            </div>
          </div>

          <!-- First name -->
          <div class="form-group">
            <label>First name</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
                   class="form-control"
                   formControlName="firstName"
                   id="firstName"
                   name="firstName"
                   placeholder="Enter your first name"
                   type="text"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.firstName.errors" class="invalid-input">
              <div *ngIf="f.firstName.errors.required">Field is required</div>
              <div *ngIf="f.firstName.errors.minlength">First name must be at least 4 characters long</div>
              <div *ngIf="f.firstName.errors.maxlength">First name must be less than 40 characters long</div>
            </div>
          </div>

          <!-- Second name -->
          <div class="form-group">
            <label>Second name</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.secondName.errors }"
                   class="form-control"
                   formControlName="secondName"
                   id="secondName"
                   name="secondName"
                   placeholder="Enter your second name"
                   type="text"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.secondName.errors" class="invalid-input">
              <div *ngIf="f.secondName.errors.required">Field is required</div>
              <div *ngIf="f.secondName.errors.minlength">Second name must be at least 4 characters long</div>
              <div *ngIf="f.secondName.errors.maxlength">Second name must be less than 40 characters long</div>
            </div>
          </div>

          <!-- Email -->
          <div class="form-group">
            <label>Email</label>
            <input [ngClass]="{ 'is-invalid': submitted && f.email.invalid }"
                   class="form-control"
                   formControlName="email"
                   id="email"
                   name="email"
                   placeholder="you@example.com"
                   type="email"
            />

            <!-- validation of input -->
            <div *ngIf="submitted && f.email.errors" class="invalid-input">
              <div *ngIf="f.email.errors.required">Field is required</div>
              <div *ngIf="f.email.errors.email">Email is not valid</div>
              <div *ngIf="f.secondName.errors.maxlength">Email name must be less than 40 characters long</div>
            </div>
          </div>


          <div class="form-group">
            <label for="role">Role</label>
            <select (change)="selectChangeHandler($event)"
                    class="form-control"
                    formControlName="role"
                    id="role"
                    name="role">
              <option value="APPROVER">Approver</option>
              <option value="PROVIDER">Provider</option>
            </select>

          </div>


          <!--<input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">-->

          <div>
            <button class="btn btn-success btn-wide">
              Sign up
              <i *ngIf="loading" class="fa fa-spinner fa-spin"></i>
            </button>

          </div>
        </form>
      </div>
    </div>
    <div class="offset-3"></div>
  </div>
</div>
