.table-layout {
  width: 100%;
  margin: 0 auto;

}


.table-data-layout {
  padding: 10px 20px 0 20px;
}


.btn-edit {
  color: #FFC107;
}


.col-name-layout {
  color: black;
  font-weight: bold;
  font-size: 15px;
  /*margin: 0 10px 0 10px;*/
}

.edit-col-layout {
  color: black;
  font-weight: bold;
  font-size: 15px;
  /*float: right;*/

}

th + th {
  /*padding-left: 20px;*/
}
